* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-container {
  background-color: bisque;
  padding: 20px;
}

.heading-name {
  text-align: center;
  padding-bottom: 20px;
  color: green;
}

.fields {
  display: flex;
  justify-content: space-around;
}
